# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
.env
.env.*
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Editors/IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker/Compose
*.log
# ignore local volumes if accidentally created in repo
**/data/

# Node/yarn (if added later)
node_modules/
